body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  text-align: center;
}

h1 {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

input {
  margin-top: 1rem;
}

input[type="file"] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
}

input::file-selector-button {
  background-color: #2ecc71;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 1px;
  transition: background-color 0.3s ease-in-out;
}


label {
  background-color: #3498db;
  color: white;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

label:hover {
  background-color: #2980b9;
}

button {
  background-color: #2ecc71;
  color: white;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 5px;
  border-color: #333;
  font-size: 16px;
  margin-top: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #27ae60;
}

p {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border : 3px solid #333;
  border-radius: 5px;
}
.results{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}